{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% else %}
<h1> There are no entries in the database yet! </h1>
<br>
<a href="{{ url_for('add_entry_get') }}">Click here to add an entry</a>
{% endfor %}
<ul class="pager">
	{% if has_next %}
	<li class="previous" >
		{% if limit %}
		<a href="{{ url_for('entries', page=page + 1, limit=limit) }}">&larr; Older</a>
		{% else %}
		<a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
		{% endif %}

	</li>
	{% endif %}
	{% if has_prev %}
	<li class="next">
		{% if limit %}
		<a href="{{ url_for('entries', page=page - 1, limit=limit) }}">&rarr; Newer</a>
		{% else %}
		<a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
		{% endif %}
	</li>
	{% endif %}
</ul>
<ul class="pagination">
	{% for i in range(total_pages|int): %}
	{% if limit %}
	<li><a href="{{ url_for('entries', page=(i+1)|string, limit=limit) }}">{{ i+1 }}</a>
	{% else %}
	<li><a href="{{ url_for('entries', page=(i+1)|string) }}">{{ i+1 }}</a>
	{% endif %}
	{% endfor %}
{% endblock %}
